:root {
  --primary-main: #75a05b;
  --primary-light: #fffffe;
  --primary-dark: #658c51;

  --secondary-main: #78518c;
  --secondary-light: #8e6ea0;
  --secondary-dark: #63357a;

  --text-primary: #716040;
  --text-secondary: #405171;
  --text-light: #fffffe;
  --text-dark: #020826;
  --text-disabled: #baaf9f;

  --background: #f9f4ef;

  --navbar-height: 76px;

}

/* makes sizing simpler */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */
html {
  color-scheme: light;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* min body height */
body {
  min-height: 100vh;
  overflow-x: hidden;
  background-color: var(--background);
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: inline-block;
  max-width: 100%;
}

button {
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
  color: var(--text-dark);
}